@{
    ViewData["Title"] = "Relatorio de contas a receber";
    ViewData["minDate"] = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToString("yyyy-MM-dd");
    ViewData["maxDate"] = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month)).ToString("yyyy-MM-dd");
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="SimpleSearch">
            <fieldset>
                <legend>Informe o período</legend>
                <div class="form-group">
                    <label for="minDate" class="col-lg-2 control-label">Início</label>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" name="minDate" value="@ViewData["minDate"]" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxDate" class="col-lg-2 control-label">Fim</label>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" name="maxDate" value="@ViewData["maxDate"]" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="situacao" class="col-lg-2 control-label">Situação</label>
                    <div class="col-lg-10">
                        <select class="form-control" 
                                asp-items=ViewBag.ListaSituacao_rer 
                                value="@ViewData["situacao"]"                                
                                name="situacao"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>