@model NubeSalesMVC.Models.ViewModels.ReceberFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>Conta a Receber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Receber.Id" />
            <div class="form-group">
                <label asp-for="Receber.PessoaId" class="control-label"></label>
                <select asp-for="Receber.PessoaId" asp-items="@(new SelectList(Model.Pessoas,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Receber.DtaMovimento" class="control-label"></label>
                <input asp-for="Receber.DtaMovimento" class="form-control" />
                <span asp-validation-for="Receber.DtaMovimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receber.Valor" class="control-label"></label>
                <input asp-for="Receber.Valor" class="form-control" autocomplete="off" />
                <span asp-validation-for="Receber.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receber.Observacao" class="control-label"></label>
                <input asp-for="Receber.Observacao" class="form-control" />
                <span asp-validation-for="Receber.Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receber.CategoriaId" class="control-label"></label>
                <select asp-for="Receber.CategoriaId" asp-items="@(new SelectList(Model.Categorias,"Id","Name"))" class="form-control"></select>
                <span asp-validation-for="Receber.CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receber.IdTipo" class="control-label"></label>
                <select asp-for="Receber.IdTipo" class="form-control" asp-items=ViewBag.ListaSituacao></select>
                <span asp-validation-for="Receber.IdTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="salvarEditCR" data-toggle="modal" data-target="#modalCentral" value="Salvar" class="btn btn-default" />
            </div>


            
            
                <div class="modal fade" id="modalCentral" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="TituloModalCentralizado"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    Deseja realmente alterar este título?
                                </div>
                                @if ((Int32)ViewData["nroContasVinculadas"] > 0)
                                {
                                    <label class="switch">
                                        <input asp-for="AlterarTodos" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                <label class="control-label">Replicar o valor desta parcela para os demais títulos em aberto.</label>
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Sim</button>                                
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Não</button>
                            </div>
                        </div>
                    </div>
                </div>            
        </form>
    </div>
</div>

<div>
    <a asp-action="FilteredIndex">Voltar a lista</a>
</div>
<partial name="_NotificationPartial" />



